* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

@font-face {
  font-family: "Bebas Neue";

  src: url("../fonts/BebasNeueBook.woff") format("woff");

  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Noto Sans", sans-serif;
  margin: 0 auto;
}

.mobile-menu {
  display: none;
}

.container {
  max-width: 90rem;
  margin: 0 auto;
  /* border: 1px solid #000; */
  /* padding-left: 9px; */
}

.navbar {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  color: #fff;
  height: 5.875rem;
  position: fixed;
  border-bottom: 1px solid rgba(235, 235, 240, 0.2);
  z-index: 2;
  width: 100%;
  max-width: 120rem;
  left: 0;
  top: 0;
  transition: background-color 0.2s, height 0.2s;
}

.navbar-light {
  background-color: #fff;
  color: #292d33;
  height: 4.625rem;
}

.navbar-light .header-logo-path {
  fill: #292d33;
}

.header {
  /* min-height: 100vh; */
  padding-top: 5.875rem;
}

.header-image {
  background: url("../img/header-main.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom -3.09rem;

  position: relative;
  max-width: 1920px;
}

.header-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(41, 45, 51, 0.73);
  width: 100%;
  height: 100%;
  z-index: 0;
}

.logo {
  display: none;
}

.logo-svg {
  width: 8.75rem;
  height: 2.75rem;
}

.header-logo {
  display: flex;
  align-items: center;
  border-right: 1px solid rgba(235, 235, 240, 0.2);
  height: 100%;
  padding: 0;
  padding: 1.5625rem 3.125rem;
}

.header-nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
  list-style: none;
  padding: 0;
  padding-left: 3.125rem;
  margin: 0;
  align-items: center;
  padding-top: 0.125rem;
  height: 100%;
}

.header-nav-item {
  height: 100%;
  display: flex;
  align-items: center;
  /* height: 100%; */
}

.header-nav-item:not(:last-child) {
  margin-right: 3.125rem;
}

.header-nav-link {
  text-decoration: none;
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  color: inherit;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

.header-nav-link::after {
  content: "";
  width: 0px;
  position: absolute;
  bottom: -1px;
  height: 2px;
  background-color: #5c8ee6;
  transition: width 0.2s;
  right: 0;
  left: auto;
}

.header-nav-link:hover::after {
  width: 100%;
  left: 0;
  right: auto;
}

.header-phone {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  gap: 0.625rem;
  text-decoration: none;
  margin-right: 3.125rem;
  padding-top: 0.125rem;
}

.phone-icon {
  width: 1.5rem;
  height: 1.5rem;
  fill: #5c8ee6;
}

.header-phone-link {
  text-decoration: none;
  font-size: 1rem;
  color: inherit;
}

.button {
  font-weight: 600;
  font-size: 1rem;
  line-height: 160%;
  color: #ffffff;
  background: #3a71d1;
  display: inline-block;
  /* padding: 1.5625rem 1.25rem; */
  border: none;
  cursor: pointer;
}

.button-text {
}

.navbar-button {
  flex-shrink: 0;
  height: 100%;
  padding: 1.5625rem 2.625rem;
  text-align: center;
}

.navbar-button .phone-icon {
  display: none;
}

/* --------/navbar--------*/
.header {
  padding-left: 0.875rem;
}

.separator {
  width: 9.375rem;
  height: 2px;
  background: #5c8ee6;
  padding-left: 0.875rem;
}

.header-content {
  padding-top: 9.275rem;
  position: relative;
  z-index: 1;
  color: #fff;
  /* padding-left: .9rem; */
}

.header-title {
  max-width: 67.5rem;
  font-family: "Bebas Neue";
  font-size: 5rem;
  line-height: 120%;
  margin: 1.4375rem 0;
  letter-spacing: 0.05rem;
  word-spacing: -0.1rem;
  margin-bottom: 2.4375rem;
}

.header-text {
  max-width: 45rem;
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  margin-bottom: 3.125rem;
}

.header-button {
  height: 100%;
  padding: 1.5625rem 3.75rem;
  margin-bottom: 6.25rem;
}

.header-features {
  display: flex;
  align-items: stretch;
  /* min-height: 9.375rem; */
  padding: 0;
  /* height: 100%; */
  min-height: 10.5rem;
  list-style: none;
  color: #fff;
  position: relative;
  width: 100%;
}

.header-features-item {
  padding: 1.75rem 3.0625rem;
  min-height: 100%;
  border: 1px solid rgba(235, 235, 240, 0.2);
  width: 18rem;
  padding-top: 1.8125rem;
  height: 10.5rem;
}

.features-slider {
  min-height: 10.5rem;
}

.swiper-wrapper {
  margin: 0;
  /* margin-bottom: 0; */
}

.slider-buttons {
  display: none;
  height: 2.75rem;
  position: relative;
  z-index: 5;
  margin-top: 0;
}
.slider-button-prev {
  transform: scaleX(-1);
}
.header-button-prev,
.header-button-next {
  height: 100%;
  flex-basis: 50%;
  border: 1px solid rgba(235, 235, 240, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.features-svg {
  display: inline-block;
  width: 2.25rem;
  height: 2.25rem;

  /* width: 100%; */
}

.header-features-text {
  font-weight: 400;
  font-size: 1rem;
  line-height: 161%;
  margin-bottom: 0;
  margin-top: 1.1625rem;
}

.section {
  /* margin: 0 auto; */
  /* margin: 9.375rem 0 ; */
  margin: 9.375em 0 0;
}

.section-light {
  padding-left: 1.075rem;
}

.section-title {
  font-family: "Bebas Neue";
  font-weight: bold;
  font-size: 3.625rem;
  line-height: 120%;
  color: #292d33;
  margin-top: 1.625rem;
  margin-bottom: 3.25rem;
  letter-spacing: 0.0813rem;
  word-spacing: -0.2437rem;
}

.steps {
  display: flex;
  list-style: none;
  padding: 0;
  /* gap: 1.875rem; */
}

.steps-item {
  width: 18.75rem;
  /* max-width: 18.75rem; */
  min-height: 20.625rem;
  padding-right: 1.875rem;
}

.steps-num {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: bold;
  font-size: 2.9375rem;
  line-height: 120%;

  color: #5c8ee6;
  display: flex;
  align-items: center;
  padding-top: 0.1625rem;
  letter-spacing: 0.0187rem;
}

.steps-num:after {
  content: "";
  height: 1px;
  background: #ebebf0;
  width: 100%;
  margin-left: 1.875rem;
}

.steps-title {
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 160%;
  color: #292d33;
  margin: 2.11rem 0 0;
}

.steps-text {
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  color: #828a99;
  margin: 0.6875rem 0 1.3125rem;
}

.button-link {
  font-weight: 600;
  font-size: 1rem;
  line-height: 160%;
  color: #5c8ee6;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding-top: 0.025rem;
}

.button-link:before {
  content: "";
  height: 1px;
  width: 2.5rem;
  background: #5c8ee6;
  margin-right: 1.25rem;
  transition: width 0.2s;
}

.swiper-slide.steps-item {
}

.steps-slider {
}

.primary-button-wrapper {
  display: flex;
  justify-content: flex-end;
  height: 3.75rem;
}
.primary-button-prev {
  transform: scaleX(-1);
}
.primary-button-prev,
.primary-button-next {
  background-color: #3a71d1;
  height: 100%;
  width: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.steps-buttons {
  display: none;
}
.prodaction {
  margin-top: 5.8125rem;
  padding-left: 1.075rem;
}

.cards {
  display: flex;
  flex-wrap: wrap;
}

.card {
  flex-basis: 33%;
  border: 1px solid #ebebf0;
  position: relative;
  text-decoration: none;
  transition: border 0.2s;
}

.card-content {
  padding: 2.5rem 3.125rem;
}

.card-title {
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 140%;
  color: #292d33;
  margin-top: 0;
  margin-bottom: 0.625rem;
  transition: border 0.2s;
  margin-top: 0.3125rem;
}

.card-text {
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  color: #828a99;
  margin-bottom: 21.8875rem;
}

.card-image {
  width: 90%;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 0;
}

.marks {
  padding-left: 1.075rem;
}

.brends {
  display: flex;
}

.brend {
  display: grid;
  padding: 3.125rem;
  margin-top: 0.3125rem;
  border: 1px solid #ebebf0;
  flex-basis: 50%;
  transition: border 0.2s;
  text-decoration: none;
  grid-template-columns: 180px 1fr;
  grid-template-rows: auto 2fr;
  grid-column-gap: 49px;
  grid-template-areas:
    "logo title title"
    "logo text text";
}

.brend:hover {
  border-color: #5c8ee5;
}

.brend:hover .brend-title {
  color: #5c8ee5;
}

.brend:hover .brend-image {
  fill: #5c8ee5;
}

.brend-title {
  grid-area: title;
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 160%;
  color: #292d33;
  margin-bottom: 0.625rem;
  margin-top: 0;
}

.brend-content {
  /* display: flex;
  flex-direction: column; */
  /* width: 24.0625rem; */
  /* margin-left: 3.0625rem; */
}

.brend-text {
  grid-area: text;
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  color: #828a99;
  margin-top: 0;
  padding-right: 0.625rem;
  /* margin-left: 1.4375rem; */
}

.brend-image {
  grid-area: logo;
  display: block;
  /* width: 100%; */
  width: 11.25rem;
  height: 11.25rem;

  fill: #828a99;
}
.founder {
  position: relative;
  min-height: 41.25rem;
}
.founter-photo {
  width: 44%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  object-fit: cover;
}

.founder-content {
  max-width: 45rem;
  margin-top: 2.9375rem;
  padding-left: 0.375rem;
}
.founder-content .section-title {
  max-width: 30rem;
  /* padding-left: 8px; */
  margin-bottom: 1.875rem;
}
.founder-content-wrapper {
  display: flex;
  justify-content: flex-end;
}
.founder-text {
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  color: #828a99;
  margin: 0;
  margin-bottom: 24px;
}
.founder-content .button-link {
  margin-top: 1.875rem;
}

.clients-wrapper {
  display: flex;
  gap: 3.625rem;
}
.clients-content {
  flex-basis: 50%;
}
.clients-content .section-title {
  padding-left: 0.625rem;
  margin-bottom: 2.8125rem;
}
.clients-separator {
  margin-left: 0.4375rem;
}

.clients-list {
  list-style: none;
  padding: 0;
  columns: 2 auto;
  margin: 0;
  gap: 47px;
}
.clients-list-item {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  color: #292d33;
  padding-left: 0.45rem;
  padding-bottom: 1.25rem;
}

.clients-list-icon {
  max-width: 100%;
  width: 1.875rem;
  height: 1.875rem;
}
.clients-logo-list {
  flex-shrink: 10;
  display: flex;
  flex-wrap: wrap;
  margin-top: 1.625rem;
}
.clients-logo-item {
  flex-basis: 33%;
  border: 1px solid #ebebf0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 44px 82px;
  /* padding: 2.8125rem .9375rem; */
  /* padding-left: 2.1875rem; */
  filter: grayscale(100%);
  transition: filter 0.2s;
}
.clients-logo {
  /* max-width: 100%; */
  width: 4.375rem;
  height: 4.375rem;
}
.clients-logo-item:hover {
  filter: grayscale(0);
}
.blog {
  margin-left: 0.8125rem;
}

.blog-slider {
  margin-top: 3.6875rem;
}
.blog-card {
  display: flex;
  position: relative;
  min-height: 25rem;
  flex-direction: column;
  text-decoration: none;
  color: #fff;
  justify-content: flex-end;
  padding: 3.125rem;
}

.blog-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(41, 45, 51, 0.6);
  z-index: -1;
}
.blog-card-image {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: -2;
}
.blog-card-title {
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 160%;
  margin-bottom: 0.625rem;
  margin-top: 0;
}
.blog-card-text {
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  margin: 0;
}
.blog-slider-footer {
  display: flex;
  align-items: center;
  margin-top: 1.875rem;
  justify-content: space-between;
}
.bg-grey {
  background: #f0f2f5;
}
.section-cta {
  position: relative;
  padding-top: 6.65rem;
  margin-top: 11.65rem;
  padding-bottom: 6.35rem;
}
.cta-image {
  position: absolute;
  bottom: 0px;
  left: 0;
  max-width: 45rem;
  width: 50%;
  z-index: 0;
}
.cta-form-wrapper {
  display: flex;
  justify-content: flex-end;
  /* margin-right: 384px; */
}
.cta-form {
  max-width: 52.1rem;
}
/* .section-title .cta-form-title{
  margin-bottom: 10px;
} */
.cta-form-title {
  margin-bottom: 1.875rem;
  width: 100%;
  /* margin-top: 10px; */
}
.cta-form-text {
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  color: #828a99;
  /* margin-top: 1.375rem; */
  margin-bottom: 3.1rem;
  text-align: left;
  /* max-width: 40rem; */
  padding-right: 13.125rem;
}
.input-group-wrapper {
  display: flex;
  gap: 1.875rem;
}
.input-group {
  position: relative;
  height: 4.125rem;
  flex-grow: 1;
  background-color: #f0f2f5;
  /* max-width: 405px; */
}
.input {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 1.25rem 1.875rem;
  border: 1px solid #e4e4eb;
  background-color: transparent;
}
.input-group-label {
  position: absolute;
  cursor: text;
  top: 1.5rem;
  left: 1.975rem;
  font-weight: 400;
  font-size: 1rem;
  color: #828a99;
  transition: top 0.2s, left 0.2s, font-size 0.2s;
  padding: 0 0.625rem;
}
.input:focus {
  border: 1px solid #5c8ee6;
  outline: 0;
}
.input:focus ~ .input-group-label,
.input:not(:placeholder-shown) ~ .input-group-label,.input:not(:focus)~ .input-group-label {
  top: -0.5rem;
  left: 1.25rem;
  font-size: 0.625rem;
  background: inherit;
}
.cta-form-footer {
  display: flex;
  align-items: center;
  margin-top: 1.55rem;
  gap: 1.875rem;
}

.cta-form-button {
  flex-shrink: 0;
  padding: 1.25rem 3.125rem;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 160%;
}
.notify {
  display: flex;
  /* align-items:center; */
  gap: 0.625rem;
}
.notify-icon {
  flex-shrink: 0;
}
.notify-text {
  max-width: 23.75rem;
  margin: 0;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 160%;
  color: #828a99;
  
}

.footer-top{
  padding-top: 3.225rem;
  padding-bottom: 3.125rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-logo{
  width: 13.5rem;
  height: 4.05rem;
}
.footer-info-wrapper{
  display: flex;
  align-items: center;
  gap: 3.0625rem;
  margin-left: 10px;
}
.footer-info{
  display: flex;
  align-items: center;
  text-decoration: none;
  font-style: normal;
  color: #292D33;
  gap: .625rem;
  /* margin-right: 50px; */
}

.footer-phone{
  font-weight: 600;
font-size: 2rem;
line-height: 160%;
text-decoration-line: underline;
color: #292D33;
margin-left: 4.6875rem;

}

.footer-info-adress,.footer-info-email{
  font-style:inherit;
 text-decoration: inherit;
 color: inherit;
}
.footer-social{
  display: flex;
justify-content:center;
gap: .5rem;

}
.footer-social-link{
  display: block;
  text-decoration: none;
  /* margin-right: .625rem; */
}
.footer-social-icon{
  width: 1.5rem;
  height: 1.5rem;
}
.footer-separator{
  color: #EBEBF0;
 background-color: #1b1bc7;
 border:none;
 height: 1px;
 margin: 0;
 padding: 0;
}
.footer-bottom{
  padding-top: 3.025rem;
  padding-bottom: 1.825rem;
  display: flex;
}
.footer-menu-title{
  font-style: normal;
  font-weight: 600;
font-size: 1rem;
line-height: 160%;
color: #292D33;
margin-top: 0;
margin-bottom: 1.875rem;
}
.footer-menu-list{
  margin: 0;
  padding-left: 1.25rem;
  list-style: none;
}
.footer-menu-columns-2{
  columns: 20rem auto;
  min-width: 44.8rem;
}
.footer-menu-link{
  text-decoration: none;
  font-weight: 400;
font-size: 1rem;
line-height: 160%;
color: #828A99;
margin-bottom: 1.0375rem;
display: block;
}
.footer-menu-wrapper{
  margin-left: .3125rem;
}
.footer-menu-wrapper:first-child{
  margin-left: .4375rem;
}
.footer-menu-wrapper:last-child{
  margin-left: 168px;
}
.footer-menu-link-bold{
  font-style: normal;
font-weight: 600;
font-size: 1rem;
line-height: 160%;
color: #292D33;
margin-bottom: 1.875rem;
}
.footer-wrapper{
  padding-top: 0.55rem;
  padding-bottom: 1.25rem;
  font-style: normal;
color: #828A99;
}
.footer-wrapper,.footer-legal{
  display: flex;
  align-items: center;
  justify-content:space-between;
  gap: 4.375rem;
  /* padding-top: 5px; */
}
.footer-legal{
  gap: 5.075rem;
}
.footer-copyright{
  padding-left: 8px;
}
.footer-copyright,.footer-policy,.footer-legal,.made-in{
  font-style: normal;
font-weight: 400;
font-size: .75rem;
line-height: 160%;
color:inherit;
}
.footer-author{
  display: flex;
 align-items: center;
}
.made-in{
  display: block;
  
}
.svg-autor{
  padding-left: .625rem;
  width: 65px;
  height: 11px;
}



/* ==================================================================================== */
@media (hover: hover) {
  .button-link:hover::before {
    width: 60px;
  }
  .card:hover .card-title {
    color: #5c8ee5;
  }

  .card:hover {
    border-color: #5c8ee6;
  }
}
@media (max-width: 1700px) {
  html {
    font-size: 15px;
  }
}

/* ==================================== */
@media (max-width: 1600px) {
  html {
    font-size: 15px;
  }

  .header-image {
    background-position: center;
  }
  .header-nav {
    padding-left: 1.875rem;
  }
  .header-logo {
    padding: 2rem;
  }

  .logo-svg {
    max-width: 7rem;
  }
  .header-nav-item:not(:last-child) {
    margin-right: 2.325rem;
  }
}

/* ==================================== */
@media (max-width: 1480px) {
  html {
    font-size: 14px;
  }

  .header-logo {
    padding: 2rem;
  }

  .logo-svg {
    max-width: 6rem;
  }

  .header-nav {
    padding-left: 1rem;
  }

  .header-nav-item:not(:last-child) {
    margin-right: 0.5rem;
  }

  .header-phone {
    margin-right: 1rem;
  }
  .founter-photo {
    min-width: 37.5rem;
  }
  .clients-logo-item:last-child {
    display: none;
  }
  .clients-wrapper {
    gap: 7.825rem;
  }
  .clients-separator {
    margin-left: 3.0375rem;
  }
  .clients-content {
    flex-basis: 50%;
    margin-left: 2.3rem;
  }
  .section-cta {
    /* padding-top: 5.25rem; */
  }
  .cta-image {
    bottom: 1.25rem;
    max-width: 38rem;
    width: 50%;
  }

  .section-cta {
    padding-top: 0.85rem;
  }
  .cta-form {
    max-width: 48.9rem;
  }
  .input-group-wrapper {
    gap: 1.475rem;
  }
  .cta-form-title {
    margin-bottom: 1.5625rem;
  }
}

/* ==================================== */
@media (max-width: 1200px) {
  .container {
    max-width: 70rem;
  }
  .header-logo {
    padding: 1.7rem;
  }
  .header-phone {
    display: none;
  }

  .navbar {
    height: 5.6rem;
  }
  .header-nav {
    padding-left: 0.7rem;
  }
  .navbar-button {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .slider-buttons {
    display: flex;
  }
  .primary-button-prev,
  .primary-button-next {
    width: 3.75rem;
  }
  .steps-buttons {
    display: flex;
  }

  .card {
    flex-basis: 50%;
  }

  .brends {
    flex-direction: column;
    align-items: center;
  }
  .brend {
    grid-template-columns: 100px auto;
    margin-top: 0;
  }
  .founder-content {
    max-width: 35rem;
  }
  .founter-photo {
    min-width: 34.375rem;
  }
  .clients-separator {
    margin-left: 3.0375rem;
  }
  .clients-content {
    flex-basis: 50%;
    margin-left: 2.5rem;
  }
  .clients-wrapper {
    gap: 1rem;
  }
  .section-cta {
    /* padding-bottom: 0.55rem; */
  }
  .input-group-wrapper {
    gap: 1.275rem;
  }
  .cta-form {
    max-width: 37.9rem;
  }
  .cta-image {
    bottom: 2.25rem;
    /* max-width: 608px; */
    width: 50%;
  }
}
@media (max-width: 1100px){
  .cta-image {
    bottom: 2.95rem;
    left: -40px;
  
  }
}
/* ==================================== */
@media (max-width: 992px) {
  .container {
    max-width: 60rem;
  }

  .header-nav {
    display: none;
  }

  .header-logo {
    flex-grow: 1;
    justify-content: center;
    border: 0;
  }

  .logo-svg {
    max-width: 10rem;
  }
  .navbar {
    height: 4.8rem;
  }
  .navbar-button {
    padding: 0 1.9rem;
  }

  .phone-icon {
    width: 2rem;
    height: 2rem;
  }

  .mobile-menu-toggle {
    width: 5.7rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 1.7rem 2rem;
    justify-content: space-between;
    /* padding: 1.8rem; */
    border-right: 1px solid rgba(235, 235, 240, 0.2);
  }

  .molile-menu-line {
    height: 1px;
    background-color: #fff;
    width: 100%;
    transition: transform 0.2s;
  }

  .molile-menu-line:nth-child(2) {
    width: 70%;
  }

  .navbar-light .molile-menu-line {
    background-color: #333;
  }

  .navbar-button .button-text {
    display: none;
  }

  .navbar-button .phone-icon {
    display: block;
    fill: #f3f5f8;
  }

  .mobile-menu {
    /* display: block; */
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    z-index: 2;
    background: #fff;
    padding-top: 5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .mobile-menu.is-open {
    display: block;
  }

  .mobile-menu-nav {
    list-style: none;
    padding: 0;
  }

  .mobile-menu-link {
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 160%;
    color: #292d33;
  }

  .mobile-menu-nav-item {
    margin-bottom: 2rem;
  }

  .mobile-submenu {
    list-style: none;
    padding: 0;
    padding-left: 1rem;
    margin-top: 1rem;
  }

  .mobile-submenu-link {
    text-decoration: none;
    font-size: 0.875rem;
    line-height: 160%;
    color: #828a99;
  }

  .mobile-phone {
    display: block;
    font-weight: 600;
    font-size: 20px;
    line-height: 160%;
    text-decoration-line: underline;
    color: #292d33;
    border-top: 1px solid #ebebf0;
    padding-top: 2rem;
    margin-bottom: 1.5rem;
  }

  .mobile-info {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
  }

  .mobile-info-adress,
  .mobile-info-email {
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 160%;
    color: #292d33;
    text-decoration: none;
  }

  .mobile-network {
    margin-top: 1.2rem;
  }

  .close-menu .molile-menu-line:nth-child(2) {
    display: none;
  }

  .close-menu .molile-menu-line:nth-child(1) {
    transform: rotate(45deg) translateY(9px);
  }

  .close-menu .molile-menu-line:nth-child(3) {
    transform: rotate(-45deg) translateY(-9px);
  }
  .section {
    margin: 7.175em 0 0;
  }
  .header,
  .section-light,
  .prodaction,
  .marks {
    padding-left: 0;
  }
  .section-title-text {
    display: none;
  }
  .section-title {
    font-weight: bold;
    font-size: 2.35rem;
    line-height: 120%;
    margin-bottom: 2.1875rem;
    margin-top: 1.25rem;
  }
  .header-text {
    font-weight: 400;
    font-size: 1rem;
    line-height: 160%;
    margin-bottom: 1.725rem;
  }
  .header-title {
    margin-bottom: 1.2375rem;
  }
  .header-button {
    width: 100%;
    margin-bottom: 3.35rem;
  }
  .header-features-item {
    padding: 1.75rem 3.0625rem;
    min-height: 100%;

    padding-top: 1.5125rem;
    height: 10.5rem;
  }

  .features-svg {
    display: inline-block;
    width: 36px;
    height: 36px;
  }

  .brend-image {
    width: 7.35rem;
    height: 8.05rem;
  }
  .founter-photo {
    min-width: 33.75rem;
  }
  .founder-content {
    max-width: 28rem;
  }
  .clients-wrapper {
    flex-direction: column;
  }
  .blog {
    margin-left: 0;
  }
  .separator {
    padding-left: 0;
  }
  .blog-card-title {
    font-size: 20px;
    line-height: 120%;
  }
  .blog-card-text {
    display: none;
  }
  .blog-card {
    min-height: 14rem;
    padding: 1.425rem;
  }
  .blog-slider {
    margin-top: 2.8875rem;
  }
  .primary-button-prev,
  .primary-button-next {
    width: 4.35rem;
  }
  .blog-slider-footer {
    margin-top: 1.375rem;
  }
  .primary-button-wrapper {
    margin-top: 1.3875rem;
    height: 2.85rem;
  }
  /* .primary-button-wrapper {
  
  height: 3.75rem;
} */
.cta-form {
  max-width: 31.2rem;
}
  .cta-form-text {
    font-weight: 400;
    font-size: 1rem;
    line-height: 160%;
  padding-right: 0;
    margin-bottom: 3.1rem;
    text-align: left;
   
}
.cta-image {
  bottom: 5.25rem;
  left: -5.25rem;
 width: 33.925rem;
  /* max-width: 608px; */
  /* width: 50%; */
}
}
@media (max-width: 903px) {
  .founder-content {
    max-width: 24rem;
  }
  .founder-photo {
    min-width: 32.75rem;
  }
  .cta-image {
    bottom: 4.95rem;
    /* left: -40px; */
    /* width: 50%; */
  }
}
@media (max-width: 810px){
  .cta-image {
    left: -8.275rem;
  }
}




/* ==================================== */
@media (max-width: 769px) {
  .container {
    max-width: 40rem;
  }
  .steps-title {
    font-size: 1.45rem;
    margin: 1.31rem 0 0;
  }
  .steps-text {
    margin: 0.6875rem 0 1.5125rem;
  }
  .header-title {
    font-size: 3.4rem;
  }
  .steps-item {
    min-height: 150px;
  }
  .header-content {
    padding-top: 2.5rem;
  }

  .card {
    flex-basis: 100%;
  }
  .card-title {
    font-weight: 400;
    font-size: 1.35rem;
    line-height: 140%;
    color: #292d33;
    margin-top: 0;
    /* margin-bottom: 0.625rem; */
    transition: border 0.2s;
    margin-top: 0.0125rem;
    letter-spacing: 0.05rem;
    word-spacing: -0.1rem;
  }
  .card-text {
    margin-top: 8px;
    margin-bottom: 19.7875rem;
  }
  .card-content {
    padding: 1.6rem 1.925rem;
    padding-bottom: 1.9rem;
  }
  .founter-photo {
    position: relative;
    width: 100%;
    margin-bottom: 50px;
    min-width: 20.95rem;
    /* min-height: 41.25rem; */
  }
  .founder-content {
    max-width: 40rem;
  }
  .clients-logo {
    width: 50px;
    height: 50px;
  }
  .clients-wrapper {
    gap: 0;
  }
  .clients-logo-list {
    margin-top: 0.925rem;
  }
  .clients-logo-item {
    padding: 1.875rem 3.75rem;
  }

  .cta-image{
    display:none;
  }
  .cta-form-wrapper {
  
    justify-content: center;
   
}


}

/* ==================================== */
@media (max-width: 576px) {
  .container {
    max-width: 93%;
  }
  .header-logo {
    /* max-width: 19.05rem; */
  }
  .separator {
    width: 100px;
  }
  .founter-photo {
    margin-bottom: 0.55rem;
  }

  .brend {
    grid-template-areas:
      "logo title"
      "text text";
    padding: 25px;
    grid-column-gap: 30px;
    margin-top: 0;
    padding-bottom: 17px;
  }
  .brend-title {
    font-size: 1.45rem;
    line-height: 130%;
    padding-top: 8px;
  }
  .brend-text {
    font-size: 0.975rem;
    line-height: 160%;
    padding-top: 1.25rem;
    padding-right: 0;
    margin-bottom: 6px;
  }
  .founder-content {
    padding-left: 0;
  }
  .founder-text {
    margin-bottom: 0.25rem;
    /* letter-spacing: 0.05rem; */
    word-spacing: -0.1rem;
  }
  .founder-content.section-title {
    margin-bottom: 1.125rem;
  }
  .founder-content .button-link {
    margin-top: 2.3375rem;
  }
  .section-title {
    padding-left: 0;
  }
  .clients-content {
    /* flex-basis: 50%; */
    margin-left: 0;
  }
  .clients-wrapper {
    /* margin-left: 10px; */
  }
  .clients-list-item {
    padding-bottom: 1.33rem;
    padding-left: 0;
  }
  .clients-separator {
    margin-left: 0.2375rem;
  }
  .clients-content .section-title {
    margin-bottom: 2.4125rem;
    line-height: 132%;
    padding-left: 0;
    /* letter-spacing: 0.05rem; */
    word-spacing: 0.3rem;
  }
  .clients-list {
    columns: 1;
  }
  .clients-list-item {
    gap: 1.95rem;
  }
  .clients-logo-item {
    flex-basis: 50%;
  }
  .blog.section-title {
    margin-bottom: 10px;
  }
  .blog-title {
    margin: 0;
    font-weight: 600;
    font-size: 2.65rem;
    line-height: 120%;
    margin-top: 15px;
  }
  .blog-slider {
    margin-top: 2.1875rem;
  }
  .blog-slider-footer {
    margin-top: 1.375rem;
  }
  .primary-button-wrapper {
    margin-top: 0.1875rem;
  }
  .section-cta {
    padding-top: 0;
    margin-top: 129px;
  }
  .cta-image {
    display: none;
  }
  .cta-form-wrapper{
    justify-content: center;
  }
  .cta-form-title {
    font-size: 36px;
    line-height: 120%;
    margin-bottom: 13px;
  }
  .cta-form-text {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 160%;
    margin-bottom: 2.6rem;
    padding-right: 0;
  }
  .input-group {
    height: 3.875rem;
    flex-grow: 1;
    background-color: #f0f2f5;
    /* max-width: 405px; */
  }
  .input-group-wrapper {
    flex-direction: column;
    gap: 1.175rem;
  }
  .cta-form-text {
    font-weight: 400;
    font-size: 1rem;
    line-height: 160%;
    margin-bottom: 3.1rem;
    padding-right: 0;
  }
  .cta-form-footer {
    margin-top: 1.05rem;
    gap: 2.075rem;
    flex-direction: column;
  }
  .cta-form-button {
    padding: 1.45rem 7.625rem;
    font-weight: 700;
    font-size: 14px;
    line-height: 160%;
  }
  .notify {
    gap: 0.925rem;
  }
  .notify-text {
    font-size: 0.85rem;
  }
}
@media (max-width: 375px) {
}
