* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Bebas Neue";

  src: url("../fonts/BebasNeueBook.woff") format("woff");

  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Noto Sans", sans-serif;
  /* max-width: 1920px; */
}

.container {
  max-width: 1440px;
  margin: auto;
}

.header {
  min-height: 100vh;
  padding-top: 94px;
}

.header-image {
  background: url("../img/header-img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom -55px;
  position: relative;
  width: 1920px;
  /* top: -20px; */
}

.header-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(41, 45, 51, 0.73);
  width: 100%;
  height: 100%;
  z-index: 0;
}

.navbar {
  /* background-color: rgb(42, 41, 41); */
  display: flex;
  align-items: center;
  color: #fff;
  height: 94px;
  position: fixed;
  border-bottom: 1px solid rgba(235, 235, 240, 0.2);
  z-index: 2;
  width: 100%;

  left: 0;
  top: 0;
  transition: background-color 0.2s, height 0.2s;
}

.navbar-light {
  background-color: #fff;
  color: #292d33;
  height: 74px;
}

.navbar-light .header-logo-path {
  fill: #292D33;
}

/* .header-logo {
  padding: 25px 50px;
} */

.logo-link {
  display: flex;
  align-items: center;
  border-right: 1px solid rgba(235, 235, 240, 0.2);
  height: 100%;
  padding: 0 50px;
}

.header-nav {
  display: flex;
  /* flex-basis: 100%; */
  flex-grow: 1;
  list-style: none;
  padding: 0 50px;
  margin: 0;
  align-items: center;
  padding-top: 2px;
}

.header-nav-link {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  margin-right: 51px;
  color: inherit;
}

.header-nav-item:nth-last-child(3) {
  margin-right: -1px;
}

.header-phone {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  margin-right: 50px;
  padding-top: 2px;
}

.header-phone-link {
  text-decoration: none;
  font-size: 16px;
  color: inherit;
}

.button {
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  color: #ffffff;
  background: #3a71d1;
  display: inline-block;
  padding: 25px 20px;
  border: none;
  cursor: pointer;
}

.navbar-button {
  flex-shrink: 0;
  height: 100%;
  padding: 25px 42px;
  /* width: 302px; */
}

.header-button {
  height: 100%;
  padding: 25px 60px;
}

.separator {
  width: 150px;
  height: 2px;
  background: #5c8ee6;
}

.header-content {
  padding-top: 150px;
  position: relative;
  z-index: 1;
  color: #fff;

}

.header-title {
  max-width: 1080px;
  font-family: "Bebas Neue";
  font-size: 80px;
  line-height: 120%;
  margin: 23px 0;
  letter-spacing: 0.8px;
  word-spacing: -1.6px;
  margin-bottom: 39px;
}

.header-text {
  max-width: 720px;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  margin-bottom: 50px;
}

/* .header-content button{
  width: 313px;
} */
.header-features {
  display: flex;
  min-height: 168px;
  padding: 0;
  margin-top: 100px;
  list-style: none;
  color: #fff;
  position: relative;
}

.header-features-item {
  padding: 28px 49px;
  border: 1px solid rgba(235, 235, 240, 0.2);
  width: 288px;
  padding-top: 29px;
}

.header-features-item:not(:last-child) {
  border-right: none;
}

.header-features-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 161%;
  margin-bottom: 0;
  margin-top: 17px;
}

.section {
  margin: 150px 0;
}

.section-light {
  padding-left: 17px;
}

.section-title {
  font-family: "Bebas Neue";
  font-weight: bold;
  font-size: 58px;
  line-height: 120%;
  color: #292d33;
  margin-top: 26px;
  margin-bottom: 52px;
  letter-spacing: 1.3px;
  word-spacing: -3.9px;
}

.steps {
  display: flex;
  list-style: none;
  padding: 0;
  gap: 30px;
}

.steps-item {
  max-width: 330px;
}

.steps-num {
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: bold;
  font-size: 47px;
  line-height: 120%;
  
  color: #5c8ee6;
  display: flex;
  align-items: center;
  padding-top: 1px;
  letter-spacing: 0.3px;
}

.steps-num:after {
  content: "";
  height: 1px;
  background: #ebebf0;
  width: 100%;
  margin-left: 30px;
}

.steps-title {
  font-weight: 400;
  font-size: 28px;
  line-height: 160%;
  color: #292d33;
  margin: 35px 0 0;

}

.steps-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #828a99;
  margin: 11px 0 21px;
}

.steps-link {
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  color: #5c8ee6;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.steps-link:before {
  content: "";
  height: 1px;
  width: 40px;
  background: #5c8ee6;
  margin-right: 20px;
}